altair
annotated-types
anyio
attrs
backoff
bcrypt
blinker
build
cachetools
certifi
cffi
charset-normalizer
chromadb
click
colorama
coloredlogs
cryptography
distro
durationpy
et_xmlfile
filelock
flatbuffers
fsspec
gitdb
GitPython
google-auth
googleapis-common-protos
grpcio
h11
httpcore
httptools
httpx
huggingface-hub
humanfriendly
idna
importlib_metadata
importlib_resources
Jinja2
jiter
jsonschema
jsonschema-specifications
kubernetes
markdown-it-py
MarkupSafe
mdurl
mmh3
mpmath
narwhals
numpy
oauthlib
ollama
onnxruntime
openai
openpyxl
opentelemetry-api
opentelemetry-exporter-otlp-proto-common
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
orjson
overrides
packaging
pandas
pdf2image
pdfminer.six
pdfplumber
pillow
posthog
protobuf
pyarrow
pyasn1
pyasn1_modules
pybase64
pycparser
pydantic
pydantic_core
pydeck
Pygments
pypdf
pypdfium2
PyPika
pyproject_hooks
pyreadline3
pysqlite3-binary
pytesseract
python-dateutil
python-dotenv
pytz
PyYAML
referencing
regex
requests
requests-oauthlib
rich
rpds-py
rsa
shellingham
six
smmap
sniffio
streamlit
sympy
tenacity
tiktoken
tokenizers
toml
tornado
tqdm
typer
typing-inspection
typing_extensions
tzdata
urllib3
uvicorn
watchdog
watchfiles
websocket-client
websockets
zipp
